<div *ngIf="selectedExecution">
<span><h4>Ongoing Execution:</h4></span>
<hr>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Application</th>
            <th scope="col">Environment</th>
            <th scope="col">Browser</th>
            <th scope="col">Operating System</th>
            <!-- <th scope="col">System Name</th> -->
            <!-- <th scope="col">Executed By</th> -->
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{selectedExecution.name}}</td>
            <td>{{selectedExecution.applicationName}}</td>
            <td>{{selectedExecution.environmentName}}</td>
            <td>{{selectedExecution.browser}}</td>
            <td>{{selectedExecution.operatingSystem}}</td>
            <!-- <td>{{selectedExecution.systemName}}</td> -->
            <!-- <td>{{selectedExecution.executedBy}}</td> -->
            <td>{{selectedExecution.startTime | date }}</td>
            <td>{{selectedExecution.endTime | date }}</td>
            <td>status</td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-12">
        <u>Test Cases</u>
    </div>
    <div class="col-sm-4 m-sm-3">
        <button type="button" class="btn btn-primary">
            Targeted: {{selectedExecution.targeted}}
          </button>
    </div>
    <div class="col-sm-4 m-sm-3">
        <button type="button" class="btn btn-info">
            Executed: {{selectedExecution.executed}}
          </button>
    </div>
    <div class="col-sm-4 m-sm-3">
        <button type="button" class="btn btn-success">
            Passed: {{selectedExecution.passed}}
          </button>
    </div>
    <div class="col-sm-4 m-sm-3">
        <a  [routerLink]="['/execution',selectedExecution.id,'FAILED']">
        <button type="button" class="btn btn-danger">
            Failed: {{selectedExecution.failed}}
        </button>
    </a>
    </div>
    <div class="col-sm-4 m-sm-3">
        <button type="button" class="btn btn-info">
            Skipped: {{selectedExecution.skipped}}
        </button>
    </div>
    <div class="col-sm-4 m-sm-3">
        <button type="button" class="btn btn-primary">
            InProgress: {{selectedExecution.inProgress}}
        </button>
    </div>
</div>
</div>
<hr>
<h4>Executions History:</h4>
<table class="table">
    <thead class="thead-light rounded-sm">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Environment</th>
            <th scope="col">BrowserType</th>
            <th scope="col">Operating System</th><th scope="col">System Name</th>
            <th scope="col">Executed By</th><th scope="col">Start Time</th>
            <th scope="col">End Time</th><th scope="col">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let exec of executions">
            <th scope="row">{{exec.id}}</th>
            <td>{{exec.applicationName}}</td>
            <td>{{exec.environmentName}}</td>
            <td>{{exec.browser}}</td>
            <td>{{exec.operatingSystem}}</td>
            <td>{{exec.systemName}}</td>
            <td>{{exec.executedBy}}</td>
            <td>{{exec.startTime | date }}</td>
            <td>{{exec.endTime | date }}</td>
            <td> status </td>
        </tr>
    </tbody>
</table>
<button type="button" class="btn btn-primary" (click)="goBack()">Back</button>


